.menu {
  background-color: #2c9789;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
 .menu h1 {
  color: white;
  margin: 0;
}
.menu h2 {
  color: white;
  margin: 0;
}
 
.links a {
  color: white;
  text-decoration: none;
  margin-left: 1.5rem;
  font-weight: 500;
}
 
.links a:hover {
  text-decoration: underline;
}

nav {
  background: #2c9789;
  padding: 15px;
}
 
nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}
 
nav a:hover {
  text-decoration: underline;
}